*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
ul li,
ol li {
  margin: 0;
  padding: 0;
  list-style: none;
}

dialog {
  margin: 0;
  padding: 0;
  border: none;
}

a:focus,
input:focus,
input:active,
textarea:focus,
textarea:active,
button:focus,
button:active {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
}

a:where([class]) {
  display: inline-flex;
}

button,
label,
summary {
  cursor: pointer;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Core Sans C";
  src: url("../assets/fonts/CoreSansC-45Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../assets/fonts/CoreSansC-55Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../assets/fonts/CoreSansC-65Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../assets/fonts/CoreSansC-75ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bert Sans";
  src: url("../assets/fonts/BertSans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bert Sans";
  src: url("../assets/fonts/BertSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bert Sans";
  src: url("../assets/fonts/BertSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --white: #fff;
  --blue-1: #3a6dae;
  --blue-2: #6a98d2;
  --blue-hover: #5684be;
  --blue-active: #4270aa;
  --black: #222;
  --gray: #667085;
  --blue-background: #e6eff7;
  --font-family: "Core Sans C", sans-serif;
  --second-family: "Bert Sans", sans-serif;
  --container-width: 100rem;
  --container-padding-x: 0.625rem;
  --transition-duration: 0.2s;
}
@media (width <= 89.99875rem) {
  :root {
    --container-width: 80rem;
  }
}

.container {
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

.button-regular {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6px;
  width: 18.5rem;
  height: 5.3125rem;
  border-radius: 4px;
  background: linear-gradient(199deg, #396fb3 0%, #477dc1 100%);
  position: relative;
  z-index: 1;
}
@media (width <= 47.99875rem) {
  .button-regular {
    padding: 1.5rem 1.875rem 1.875rem 2rem;
    width: 16.1875rem;
    height: 4.6875rem;
  }
}
.button-regular:hover {
  background: linear-gradient(199deg, #396fb3 0%, #477dc1 100%);
}
.button-regular:hover svg {
  fill: #477dc1;
}
.button-regular:active {
  background: linear-gradient(199deg, #255b9f 0%, #3369ad 100%);
}
.button-regular:active svg {
  width: 106%;
  fill: #3369ad;
  translate: -50% -50.65%;
}
.button-regular:active:before {
  box-shadow: 0 0 50px 80px rgba(255, 255, 255, 0.14);
}
.button-regular:before {
  content: "";
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 50px 80px rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  left: 10%;
  z-index: 3;
  rotate: 55deg;
}
.button-regular span {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 1rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  text-wrap: nowrap;
  color: var(--white);
  position: relative;
  z-index: 4;
}
@media (width <= 47.99875rem) {
  .button-regular span {
    font-size: 0.875rem;
  }
}
.button-regular svg {
  width: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -55%;
  z-index: 2;
  transition: all 0.1s ease;
}
@media (width <= 47.99875rem) {
  .button-regular svg {
    width: 108%;
    height: 75px;
  }
}

body {
  font-size: clamp(0.875rem, 0.6964285714rem + 0.4761904762vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
}
body.is-lock {
  max-height: 100vh;
  overflow: hidden;
}

main {
  flex-grow: 1;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-accent);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

.header {
  width: 100%;
  margin-top: 24px;
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 10;
}
@media (width <= 63.99875rem) {
  .header {
    margin-top: 0.6875rem;
  }
}
.header--open {
  z-index: auto;
}

.header__container {
  max-width: calc(73.75rem + var(--container-padding-x) * 2);
  width: 100%;
  display: flex;
}
@media (width <= 47.99875rem) {
  .header__container {
    max-width: 21.25rem;
    position: relative;
    padding-left: 0;
  }
}
.header__container picture {
  background-color: var(--white);
  min-width: 99px;
  min-height: 56px;
  border-radius: 20px;
}
.header__container:has(.header__navigation-list--open) picture {
  background-color: var(--blue-1);
}

.header__logo {
  width: 5.1875rem;
  height: 2.875rem;
  position: relative;
  z-index: 102;
}
@media (width <= 63.99875rem) {
  .header__logo {
    left: 50%;
    translate: -297% 0;
  }
}
@media (width <= 47.99875rem) {
  .header__logo {
    left: 10px;
    translate: 0 0;
  }
}
.header__logo img {
  flex-shrink: 0;
  width: 5.1875rem;
  height: 2.875rem;
}

.header__navigation {
  width: 100%;
  height: 3.625rem;
  margin-top: 6px;
  margin-left: 1.5rem;
  margin-right: 1rem;
  padding: 0.625rem 0.625rem 0 0.625rem;
  border-radius: 25px 25px 0 0;
  background-color: var(--blue-background);
  display: flex;
  align-items: center;
  position: relative;
}
@media (width <= 63.99875rem) {
  .header__navigation {
    width: 67%;
    margin-right: 10px;
    position: absolute;
    right: 0;
  }
}
@media (width <= 47.99875rem) {
  .header__navigation {
    width: 68%;
    margin-right: 0px;
  }
}
.header__navigation:has(.header__navigation-list--open) {
  z-index: 101;
}

.header__navigation-decoration--left {
  width: 1.5625rem;
  height: 1.5625rem;
  background-color: var(--blue-background);
  position: absolute;
  bottom: 0;
  left: 0;
  translate: -100% 0;
  z-index: 0;
}
@media (width <= 63.99875rem) {
  .header__navigation-decoration--left {
    translate: -90% 0%;
  }
}
.header__navigation-decoration--left::after {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--white);
  position: absolute;
  bottom: 0;
  left: 0;
  translate: -38% -20%;
  z-index: 1;
  transition: background-color 0s linear 0.015s;
}
@media (width <= 63.99875rem) {
  .header__navigation-decoration--left::after {
    translate: -43.2% -22.1%;
  }
}
@media (width <= 47.99875rem) {
  .header__navigation-decoration--left::after {
    display: none;
  }
}

.header__navigation-decoration--right {
  width: 1.5625rem;
  height: 1.5625rem;
  background-color: var(--blue-background);
  position: absolute;
  bottom: 0;
  right: 0;
  translate: 100% 0;
  z-index: 0;
}
@media (width <= 63.99875rem) {
  .header__navigation-decoration--right {
    display: none;
  }
}
.header__navigation-decoration--right::after {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--white);
  position: absolute;
  bottom: 0;
  right: 0;
  translate: 38% -20%;
  z-index: 1;
}

.header__navigation-list {
  width: 100%;
  height: 100%;
  padding-inline: 2.375rem;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white);
}
@media (width <= 63.99875rem) {
  .header__navigation-list {
    scale: 0;
    overflow: hidden;
  }
  .header__navigation-list--open {
    width: 142% !important;
    translate: -29.55% 0 !important;
  }
}
.header__navigation-list--open {
  scale: 1;
  width: 340px;
  height: 50vh;
  padding: 40px 20px;
  background: var(--blue-background);
  border-radius: 40px 0 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.25rem;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 101;
  translate: -32% 0;
}

.header__navigation-list-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
  color: #797979;
}
@media (width <= 63.99875rem) {
  .header__navigation-list-item {
    font-size: 18px;
  }
}
.header__navigation-list-item:hover {
  color: var(--blue-hover);
}
.header__navigation-list-item:active {
  color: var(--blue-active);
}

.header__socials {
  margin-top: 6px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 18px 18px;
  gap: 0.3125rem;
  position: relative;
  z-index: 102;
}
@media (width <= 63.99875rem) {
  .header__socials {
    margin-left: auto;
    margin-top: 0;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
  }
}

.header__socials-item {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  text-wrap: nowrap;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--black);
  cursor: pointer;
}
.header__socials-item:hover {
  text-decoration: underline;
}
.header__socials-item:hover svg {
  scale: 1.15;
}
.header__socials-item:nth-of-type(3) {
  grid-row: 1/3;
  grid-column: 2/3;
  margin-left: 18px;
  padding-top: 3px;
}
@media (width <= 63.99875rem) {
  .header__socials-item:nth-of-type(3) {
    display: none;
  }
}
.header__socials-item:nth-of-type(4) {
  grid-row: 1/3;
  grid-column: 3/4;
  padding-top: 3px;
}
@media (width <= 63.99875rem) {
  .header__socials-item:nth-of-type(4) {
    display: none;
  }
}
.header__socials-item svg {
  transition: scale var(--transition-duration);
}

.header__menu-btn {
  display: none;
}
@media (width <= 63.99875rem) {
  .header__menu-btn {
    width: 40px;
    height: 40px;
    margin-left: 33px;
    padding: 10px 0;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 16px;
    z-index: 102;
  }
}
@media (width <= 63.99875rem) and (width <= 63.99875rem) {
  .header__menu-btn {
    right: 10px;
  }
}
@media (width <= 63.99875rem) and (width <= 47.99875rem) {
  .header__menu-btn {
    right: 0;
  }
}
@media (width <= 63.99875rem) {
  .header__menu-btn--open span:nth-of-type(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    rotate: 45deg;
  }
  .header__menu-btn--open span:nth-of-type(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    rotate: 45deg;
  }
  .header__menu-btn--open span:nth-of-type(3) {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    rotate: -45deg;
  }
  .header__menu-btn span {
    width: 65%;
    height: 2px;
    display: block;
    flex-shrink: 0;
    background-color: var(--blue-1);
  }
}

.header__menu-backdrop {
  padding: 20px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  position: absolute;
  inset: 0;
  background: var(--blue-1);
  z-index: 100;
  translate: 0 -100%;
}
.header__menu-backdrop--open {
  visibility: visible;
  translate: 0 0;
  transition: translate 0.1s ease;
}
.header__menu-backdrop > div {
  display: flex;
  gap: 10px;
}
.header__menu-backdrop > div > span {
  max-width: 239px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.hero {
  padding-top: 5rem;
}
@media (width <= 63.99875rem) {
  .hero {
    padding-top: 4.125rem;
  }
}

.hero__container {
  max-width: calc(85rem + var(--container-padding-x) * 2);
}

.hero__wrapper {
  padding: clamp(1.75rem, 1.0803571429rem + 1.7857142857vw, 2.6875rem) clamp(0.625rem, -2.9464285714rem + 9.5238095238vw, 5.625rem) clamp(1.875rem, 0.0892857143rem + 4.7619047619vw, 4.375rem) clamp(0.625rem, -2.9464285714rem + 9.5238095238vw, 5.625rem);
  border-radius: 40px;
  background-color: var(--blue-background);
  position: relative;
}
@media (width <= 63.99875rem) {
  .hero__wrapper {
    border-radius: 40px 0 40px 40px;
  }
}
@media (width <= 47.99875rem) {
  .hero__wrapper {
    max-width: 21.25rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
  }
}

.hero__title {
  margin-bottom: 2.25rem;
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 800;
  color: var(--blue-1);
  position: relative;
  z-index: 1;
}
@media (width <= 47.99875rem) {
  .hero__title {
    margin-bottom: 1.375rem;
  }
}
.hero__title span {
  display: block;
}
.hero__title span:first-of-type {
  font-size: clamp(1.875rem, 0.7142857143rem + 3.0952380952vw, 3.5rem);
  line-height: 115%;
}
.hero__title span:last-of-type {
  font-size: clamp(1.5rem, 0.7857142857rem + 1.9047619048vw, 2.5rem);
  line-height: 115%;
}

.hero__text {
  font-size: clamp(0.875rem, 0.6964285714rem + 0.4761904762vw, 1.125rem);
  max-width: clamp(20rem, 10.8482142857rem + 24.4047619048vw, 32.8125rem);
  margin-bottom: 1.25rem;
  padding-left: 2.0625rem;
  font-family: var(--second-family);
  font-weight: 400;
  color: var(--black);
  position: relative;
  line-height: 138%;
  position: relative;
  z-index: 1;
}
@media (width <= 47.99875rem) {
  .hero__text {
    margin-bottom: 1.375rem;
    padding-left: 1.75rem;
    line-height: 127%;
  }
  .hero__text:before {
    width: 18px;
    height: 18px;
  }
  .hero__text::after {
    width: 8px;
    height: 8px;
  }
}
.hero__text:nth-of-type(2) {
  margin-bottom: 0.8125rem;
}
@media (width <= 47.99875rem) {
  .hero__text:nth-of-type(2) {
    margin-bottom: 1.3125rem;
  }
}
.hero__text:last-of-type {
  margin-bottom: 2.75rem;
}
@media (width <= 47.99875rem) {
  .hero__text:last-of-type {
    margin-bottom: 2rem;
  }
}
.hero__text::before {
  content: "";
  width: 1.4375rem;
  height: 1.4375rem;
  border: 1px dashed var(--blue-1);
  border-radius: 2px;
  position: absolute;
  top: 2px;
  left: 0;
}
@media (width <= 47.99875rem) {
  .hero__text::before {
    width: 18px;
    height: 18px;
    top: 4px;
  }
}
.hero__text::after {
  content: "";
  width: 0.6875rem;
  height: 0.6875rem;
  background: linear-gradient(326deg, #0868e1 0%, #6fa5e9 100%);
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  translate: 50% 75%;
}
@media (width <= 47.99875rem) {
  .hero__text::after {
    width: 8px;
    height: 8px;
    translate: 62.5% 110%;
  }
}
.hero__text b {
  font-weight: 600;
}

.hero__btn {
  margin-left: 0.75rem;
  position: relative;
  z-index: 1;
}
@media (width <= 47.99875rem) {
  .hero__btn {
    margin-left: 0.625rem;
    margin-bottom: 1.25rem;
  }
}

.hero__link {
  margin-left: 1.75rem;
  padding-right: 1.125rem;
  color: var(--blue-2);
  position: relative;
  z-index: 1;
}
@media (width <= 47.99875rem) {
  .hero__link {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 0.625rem;
    margin-bottom: 1.25rem;
    display: block;
  }
}
.hero__link:hover {
  color: var(--blue-hover);
}
.hero__link:hover:before {
  background-color: var(--blue-hover);
}
.hero__link:hover:after {
  border-color: var(--blue-hover);
}
.hero__link:active {
  color: var(--blue-active);
}
.hero__link:active:before {
  background-color: var(--blue-active);
}
.hero__link:active:after {
  border-color: var(--blue-active);
}
.hero__link:before {
  content: "";
  width: 0.8125rem;
  height: 0.125rem;
  background-color: var(--blue-2);
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
  transition: var(--transition-duration);
}
.hero__link::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-left: 2px solid var(--blue-2);
  border-bottom: 2px solid var(--blue-2);
  position: absolute;
  top: 50%;
  right: 0;
  translate: 20% -50%;
  rotate: -135deg;
  transition: var(--transition-duration);
}
.hero__link span {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 1rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  text-underline-offset: 0.25rem;
}
@media (width <= 47.99875rem) {
  .hero__link span {
    font-size: 0.875rem;
  }
}

.hero__img {
  width: clamp(20rem, 6.6517857143rem + 35.5952380952vw, 38.6875rem);
  position: absolute;
  top: 2.3125rem;
  right: clamp(0rem, -4.0178571429rem + 10.7142857143vw, 5.625rem);
  z-index: 0;
}
@media (width <= 47.99875rem) {
  .hero__img {
    position: static;
    margin-inline: auto;
  }
}

.history {
  padding-top: 4.75rem;
}
@media (width <= 47.99875rem) {
  .history {
    padding-top: 3.625rem;
  }
}

.history__container {
  max-width: calc(62.5rem + 40px);
  padding-inline: 1.25rem;
}
@media (width <= 63.99875rem) {
  .history__container {
    max-width: calc(28.75rem + 40px);
  }
}
@media (width <= 47.99875rem) {
  .history__container {
    max-width: calc(20rem + 40px);
  }
}

.history__title {
  font-size: clamp(1.625rem, 1rem + 1.6666666667vw, 2.5rem);
  margin-bottom: 2.75rem;
  font-family: var(--font-family);
  font-weight: 800;
  line-height: 110%;
  text-align: center;
  color: var(--blue-1);
}
@media (width <= 47.99875rem) {
  .history__title {
    text-align: left;
    margin-bottom: 1.75rem;
  }
}

.history__timeline {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  position: relative;
}
@media (width <= 63.99875rem) {
  .history__timeline {
    gap: 1.875rem;
  }
}
@media (width <= 47.99875rem) {
  .history__timeline {
    padding-left: 1.875rem;
    gap: 1.625rem;
  }
}

.history__decoration {
  width: 1px;
  height: 100%;
  background-color: #cdcdcd;
  position: absolute;
  top: 0;
  right: 50%;
}
@media (width <= 63.99875rem) {
  .history__decoration {
    right: auto;
    left: -40px;
  }
}
@media (width <= 47.99875rem) {
  .history__decoration {
    top: 16px;
    left: 4px;
  }
}

.history__decoration-dot {
  width: 11px;
  height: 11px;
  border: 1px solid var(--blue-2);
  border-radius: 22px;
  background-color: var(--white);
  position: absolute;
  translate: -47% 0;
}
.history__decoration-dot:nth-of-type(1) {
  top: 5.5%;
}
@media (width <= 63.99875rem) {
  .history__decoration-dot:nth-of-type(1) {
    top: 0.65%;
  }
}
@media (width <= 47.99875rem) {
  .history__decoration-dot:nth-of-type(1) {
    top: 0;
  }
}
.history__decoration-dot:nth-of-type(2) {
  top: 37.4%;
}
@media (width <= 63.99875rem) {
  .history__decoration-dot:nth-of-type(2) {
    top: 32.7%;
  }
}
@media (width <= 47.99875rem) {
  .history__decoration-dot:nth-of-type(2) {
    top: 32.5%;
  }
}
.history__decoration-dot:nth-of-type(3) {
  top: 71.8%;
}
@media (width <= 63.99875rem) {
  .history__decoration-dot:nth-of-type(3) {
    top: 67.4%;
  }
}
@media (width <= 47.99875rem) {
  .history__decoration-dot:nth-of-type(3) {
    top: 66.6%;
  }
}

.history__event {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5rem;
}
.history__event:nth-of-type(2n) {
  flex-direction: row;
}
.history__event:last-of-type .history__feature-text {
  max-width: 25rem;
}
@media (width <= 63.99875rem) {
  .history__event {
    flex-direction: column-reverse !important;
    gap: 1.25rem;
  }
}
@media (width <= 47.99875rem) {
  .history__event {
    align-items: flex-start;
  }
  .history__event:nth-of-type(2) .history__event-title {
    margin-bottom: 0.375rem;
  }
}

.history__img {
  flex: 1;
  border-radius: 40px;
}
@media (width <= 47.99875rem) {
  .history__img {
    border-radius: 20px;
  }
}

.history__content {
  flex: 1;
}

.history__year {
  font-size: clamp(2.125rem, 1.4107142857rem + 1.9047619048vw, 3.125rem);
  display: block;
  height: 50px;
  margin-bottom: 1.25rem;
  font-family: var(--font-family);
  font-weight: 800;
  line-height: 110%;
  color: var(--blue-2);
}
@media (width <= 47.99875rem) {
  .history__year {
    height: 37px;
    margin-bottom: 0.875rem;
  }
}

.history__event-title {
  font-size: clamp(1.125rem, 1.0357142857rem + 0.2380952381vw, 1.25rem);
  margin-bottom: 1.125rem;
  font-family: var(--second-family);
  font-weight: 600;
  color: var(--black);
}
@media (width <= 47.99875rem) {
  .history__event-title {
    margin-bottom: 0.625rem;
  }
}

.history__description {
  font-size: clamp(0.875rem, 0.7857142857rem + 0.2380952381vw, 1rem);
  margin-bottom: 1.25rem;
  font-family: var(--second-family);
  font-weight: 400;
  color: var(--gray);
}
@media (width <= 63.99875rem) {
  .history__description {
    max-width: 26.25rem;
  }
}

.history__features {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.history__feature {
  display: flex;
  align-items: flex-start;
  gap: 1.25rem;
}
@media (width <= 47.99875rem) {
  .history__feature {
    gap: 10px;
  }
}

@media (width <= 47.99875rem) {
  .history__feature-icon {
    width: 22px;
    height: 22px;
    margin-top: 2px;
  }
}

.history__feature-text {
  font-size: clamp(0.875rem, 0.7857142857rem + 0.2380952381vw, 1rem);
  max-width: 22.625rem;
  font-family: var(--second-family);
  font-weight: 400;
  color: var(--gray);
}
@media (width <= 47.99875rem) {
  .history__feature-text {
    max-width: 16.125rem;
    font-weight: 500;
  }
}

.activity {
  padding-top: 4.875rem;
}
@media (width <= 47.99875rem) {
  .activity {
    padding-top: 3.75rem;
  }
}

.activity__container {
  max-width: calc(73.75rem + 40px);
  padding-inline: 1.25rem;
}

.activity__title {
  font-size: clamp(1.625rem, 1rem + 1.6666666667vw, 2.5rem);
  height: 2.75rem;
  margin-bottom: 4.375rem;
  font-family: var(--font-family);
  font-weight: 800;
  line-height: 110%;
  text-align: center;
  color: var(--blue-1);
}
@media (width <= 47.99875rem) {
  .activity__title {
    width: -moz-min-content;
    width: min-content;
    height: auto;
    margin-inline: auto;
    margin-bottom: 3.5rem;
    display: block;
  }
}

.activity__wrapper {
  width: 100%;
  position: relative;
}
@media (width <= 63.99875rem) {
  .activity__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }
}

.activity__tooltip {
  width: 52.55%;
  padding-bottom: 1.3125rem;
  padding: 1.1875rem 1.25rem 1.3125rem 1.25rem;
  border-radius: 40px;
  background: var(--blue-background);
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  z-index: 2;
}
@media (width <= 63.99875rem) {
  .activity__tooltip {
    width: 100%;
    max-width: 500px;
    position: static;
    translate: 0 0;
  }
}
@media (width <= 47.99875rem) {
  .activity__tooltip {
    max-width: 20rem;
    width: 100%;
    padding: 1.5625rem 0.625rem 1.4375rem 0.625rem;
    border-radius: 20px;
  }
}

.activity__tooltip-icon {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -63%;
}

.activity__tooltip-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  text-align: center;
  color: var(--gray);
}
@media (width <= 47.99875rem) {
  .activity__tooltip-text {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 140%;
  }
}
.activity__tooltip-text b {
  font-weight: 600;
}

.activity__img {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
  z-index: 0;
}
@media (width <= 63.99875rem) {
  .activity__img {
    position: static;
    translate: 0 0;
  }
}

.activity__directions {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 1.1875rem;
  position: relative;
  z-index: 1;
}
@media (width <= 63.99875rem) {
  .activity__directions {
    width: -moz-fit-content;
    width: fit-content;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
  }
}

.activity__direction {
  width: 15rem;
  min-height: 8.9375rem;
  padding-top: 0.625rem;
  padding-bottom: 1.0625rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.activity__direction:nth-of-type(1) {
  min-height: 10.375rem;
}
@media (width <= 47.99875rem) {
  .activity__direction {
    width: 9.375rem;
    padding-top: 1.25rem;
    padding-bottom: 1.1875rem;
  }
}

.activity__direction-img {
  margin-bottom: 0.625rem;
}

.activity__direction-title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  color: var(--black);
}
@media (width <= 47.99875rem) {
  .activity__direction-title {
    font-size: 0.875rem;
  }
}

.activity__direction-description {
  margin-top: 0.3125rem;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: var(--gray);
}
@media (width <= 47.99875rem) {
  .activity__direction-description {
    margin-top: 0.5rem;
    font-size: 0.875rem;
  }
}

.statistics {
  padding-top: 6.5rem;
}
@media (width <= 63.99875rem) {
  .statistics {
    padding-top: 3.6875rem;
  }
}

.statistics__container {
  max-width: calc(73.75rem + 40px);
  padding-inline: 1.25rem;
  position: relative;
}

.statistics__decoration {
  margin-bottom: 2.625rem;
}
@media (width <= 63.99875rem) {
  .statistics__decoration {
    margin-bottom: 1.25rem;
    position: relative;
    left: 50%;
    translate: -650% 0;
  }
}
@media (width <= 47.99875rem) {
  .statistics__decoration {
    translate: -500% 0;
    width: 32px;
    height: 26px;
  }
}

.statistics__title {
  font-size: clamp(1.25rem, 0.8928571429rem + 0.9523809524vw, 1.75rem);
  max-width: 36.25rem;
  margin-bottom: 3.875rem;
  font-family: var(--second-family);
  font-weight: 600;
  color: var(--blue-1);
  position: relative;
  z-index: 1;
}
@media (width <= 63.99875rem) {
  .statistics__title {
    max-width: 31.25rem;
    margin-inline: auto;
    margin-bottom: 1.625rem;
    text-align: center;
  }
}
@media (width <= 47.99875rem) {
  .statistics__title {
    max-width: 20rem;
    text-align: left;
  }
}

.statistics__list {
  max-width: 57.6875rem;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  gap: 1px;
  position: relative;
  z-index: 1;
}
@media (width <= 63.99875rem) {
  .statistics__list {
    max-width: 31.25rem;
    margin-inline: auto;
    margin-bottom: 1.25rem;
    flex-direction: column;
  }
}
@media (width <= 47.99875rem) {
  .statistics__list {
    max-width: 20rem;
  }
}

.statistics__list-item {
  padding: 2.5rem;
  background: rgba(111, 165, 233, 0.9);
  display: grid;
  grid-template-rows: 25px 26px;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  color: var(--white);
}
@media (width <= 63.99875rem) {
  .statistics__list-item {
    grid-template-columns: auto 1fr;
    padding-left: 25%;
  }
}
@media (width <= 47.99875rem) {
  .statistics__list-item {
    padding: 1.375rem 3.25rem 2.125rem 3.25rem;
    grid-template-rows: 15px 15px;
  }
}
.statistics__list-item span:nth-of-type(1) {
  grid-row: 1/3;
  grid-column: 1/2;
  font-family: var(--font-family);
  font-size: 3.75rem;
  font-weight: 800;
  line-height: 110%;
  translate: 0 -12%;
}
@media (width <= 47.99875rem) {
  .statistics__list-item span:nth-of-type(1) {
    font-size: 2.5rem;
  }
}
.statistics__list-item span:nth-of-type(2) {
  grid-row: 1/2;
  grid-column: 2/3;
  font-family: var(--second-family);
  font-size: 1.125rem;
  font-weight: 400;
}
@media (width <= 47.99875rem) {
  .statistics__list-item span:nth-of-type(2) {
    font-size: 0.875rem;
  }
}
.statistics__list-item span:nth-of-type(3) {
  grid-row: 2/3;
  grid-column: 2/3;
  font-family: var(--second-family);
  font-size: 1.25rem;
  font-weight: 600;
}
@media (width <= 47.99875rem) {
  .statistics__list-item span:nth-of-type(3) {
    font-size: 1rem;
  }
}

.statistics__img {
  position: absolute;
  bottom: -20px;
  right: 20px;
}
@media (width <= 63.99875rem) {
  .statistics__img {
    max-width: 31.25rem;
    position: static;
    margin-inline: auto;
  }
}

.objectives {
  padding-top: 6.625rem;
  padding-bottom: 4.5625rem;
  background: var(--blue-background);
  overflow: hidden;
  position: relative;
}
@media (width <= 47.99875rem) {
  .objectives {
    padding-top: 3.75rem;
    padding-bottom: 4.875rem;
  }
}
.objectives:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  border-radius: 0 0 125px 125px;
  background-color: var(--white);
}
@media (width <= 47.99875rem) {
  .objectives:before {
    border-radius: 0 0 40px 40px;
  }
}

.objectives__container {
  max-width: calc(62.5rem + 40px);
  padding-inline: 1.25rem;
  position: relative;
  right: 22px;
}
@media (width <= 63.99875rem) {
  .objectives__container {
    right: 0;
  }
}

.objectives__title {
  font-size: clamp(1.625rem, 1rem + 1.6666666667vw, 2.5rem);
  margin-bottom: 2.75rem;
  font-family: var(--font-family);
  font-weight: 800;
  line-height: 110%;
  text-align: center;
  color: var(--blue-1);
}
@media (width <= 47.99875rem) {
  .objectives__title {
    margin-bottom: 1.3125rem;
  }
}

.objectives__wrapper {
  border-radius: 60px 0 0 60px;
  background: var(--blue-background);
  display: flex;
  gap: 0.3125rem;
  position: relative;
}
@media (width <= 63.99875rem) {
  .objectives__wrapper {
    max-width: 25rem;
    margin-inline: auto;
    border-radius: 0;
    flex-direction: column;
    gap: 2.125rem;
    background-color: transparent;
  }
}
@media (width <= 47.99875rem) {
  .objectives__wrapper {
    max-width: 20rem;
  }
}

.objectives__info {
  padding: 2.375rem 2.5rem;
}
@media (width <= 63.99875rem) {
  .objectives__info {
    padding: 1.25rem 0.625rem;
    border-radius: 20px;
    background: var(--blue-background);
  }
}

.objectives__mission {
  margin-bottom: 1.25rem;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 110%;
  color: var(--gray);
}
@media (width <= 47.99875rem) {
  .objectives__mission {
    font-size: 0.875rem;
    line-height: 140%;
  }
}
.objectives__mission b {
  font-weight: 600;
  color: var(--blue-1);
}

.objectives__subtitle {
  margin-bottom: 1.375rem;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 110%;
  color: var(--blue-1);
}
@media (width <= 47.99875rem) {
  .objectives__subtitle {
    margin-bottom: 0.8125rem;
    font-size: 1rem;
  }
}

.objectives__list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media (width <= 47.99875rem) {
  .objectives__list {
    gap: 11px;
  }
}

.objectives__item {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 1rem;
  color: var(--gray);
}
@media (width <= 47.99875rem) {
  .objectives__item {
    font-size: 0.875rem;
    line-height: 140%;
  }
}
.objectives__item b {
  font-weight: 600;
  color: var(--black);
}

.objectives__presentation {
  width: 362px;
  height: 100%;
  padding-top: 1rem;
  flex-shrink: 0;
}
@media (width <= 63.99875rem) {
  .objectives__presentation {
    padding-top: 1.5625rem;
    margin-inline: auto;
    position: relative;
    z-index: 1;
  }
  .objectives__presentation:before {
    content: "";
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    filter: blur(99.3942718506px);
    background: #376f98;
    z-index: -1;
  }
}
@media (width <= 47.99875rem) {
  .objectives__presentation {
    width: 320px;
    padding-top: 1.0625rem;
    padding-inline: 12px;
  }
}

.objectives__presentation-title {
  margin-bottom: 0.5625rem;
  display: flex;
  align-items: flex-end;
  gap: 0.9375rem;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 110%;
  color: var(--blue-1);
  position: relative;
  z-index: 3;
  opacity: 0;
  animation: opacity 0.4s ease 0.2s forwards;
}
@media (width <= 47.99875rem) {
  .objectives__presentation-title {
    margin-bottom: 1.3125rem;
    gap: 10px;
    font-size: 1rem;
  }
}

@media (width <= 47.99875rem) {
  .objectives__logo {
    width: 70px;
    height: 38px;
  }
}

.objectives__presentation-list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  position: relative;
  z-index: 3;
}
@media (width <= 47.99875rem) {
  .objectives__presentation-list {
    margin-inline: auto;
    gap: 0.5rem;
  }
}

.objectives__presentation-item {
  max-width: 21.875rem;
  opacity: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 1rem;
  color: var(--gray);
}
@media (width <= 47.99875rem) {
  .objectives__presentation-item {
    font-size: 0.875rem;
    max-width: 18.125rem;
  }
}
.objectives__presentation-item b {
  font-weight: 600;
  color: var(--black);
}
.objectives__presentation-item::first-letter {
  margin-right: 5px;
  font-weight: 800;
  color: var(--blue-1);
}
@media (width <= 47.99875rem) {
  .objectives__presentation-item::first-letter {
    margin-right: 0px;
  }
}
.objectives__presentation-item:nth-of-type(1) {
  animation: opacity 0.4s ease 0.4s forwards;
}
.objectives__presentation-item:nth-of-type(2) {
  animation: opacity 0.4s ease 0.6s forwards;
}
.objectives__presentation-item:nth-of-type(3) {
  animation: opacity 0.4s ease 0.8s forwards;
}
.objectives__presentation-item:nth-of-type(4) {
  animation: opacity 0.4s ease 1.1s forwards;
}

.objectives__decoration--top {
  max-width: none;
  position: absolute;
  top: 0;
  right: -10px;
  translate: 0 -70%;
  z-index: 2;
}
@media (width <= 63.99875rem) {
  .objectives__decoration--top {
    top: -20px;
    right: 50%;
    translate: 50% 0%;
  }
}
@media (width <= 47.99875rem) {
  .objectives__decoration--top {
    max-width: 100%;
  }
}

.objectives__decoration--middle {
  max-width: none;
  position: absolute;
  top: 10px;
  right: -12px;
  z-index: 1;
  transform-origin: top center;
  transform: scaleY(0);
  animation: visible 2s ease forwards;
}
@media (width <= 63.99875rem) {
  .objectives__decoration--middle {
    right: 50%;
    translate: 50% 0;
  }
}
@media (width <= 47.99875rem) {
  .objectives__decoration--middle {
    max-width: 100%;
  }
}

.objectives__decoration--bottom {
  max-width: none;
  position: absolute;
  bottom: 0;
  right: -10px;
  translate: 0 100%;
  z-index: 0;
}
@media (width <= 63.99875rem) {
  .objectives__decoration--bottom {
    right: 50%;
    translate: 50% 100%;
  }
}
@media (width <= 47.99875rem) {
  .objectives__decoration--bottom {
    max-width: 100%;
    opacity: 0;
    animation: opacity 0.2s ease forwards 1.6s;
  }
}

@keyframes visible {
  80%, 90% {
    transform: scaleY(1.03);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes opacity {
  to {
    opacity: 1;
  }
}
.objectives__check-1 {
  position: absolute;
  left: 50%;
  bottom: 40px;
  translate: -36% 0;
}
@media (width <= 63.99875rem) {
  .objectives__check-1 {
    display: none;
  }
}

.objectives__check-2 {
  position: absolute;
  right: 0;
  bottom: 30px;
  translate: 0% 0;
  z-index: 2;
  opacity: 0;
  animation: opacity 0.4s ease 2s forwards;
}
@media (width <= 63.99875rem) {
  .objectives__check-2 {
    display: none;
  }
}

.news {
  padding-top: 2.625rem;
  padding-bottom: 0.625rem;
  border-radius: 0 0 40px 40px;
  background-color: var(--blue-background);
}
@media (width <= 47.99875rem) {
  .news {
    padding-top: 1.5rem;
    padding-bottom: 0.125rem;
  }
}

.news__container {
  max-width: calc(81.25rem + 40px);
  padding-inline: 1.25rem;
  display: flex;
  flex-direction: column;
}

.news__title {
  font-size: clamp(1.625rem, 1rem + 1.6666666667vw, 2.5rem);
  margin-bottom: 2.8125rem;
  font-family: var(--font-family);
  font-weight: 800;
  line-height: 110%;
  text-align: center;
  color: var(--blue-1);
}
@media (width <= 47.99875rem) {
  .news__title {
    max-width: 12.5rem;
    margin-bottom: 1.375rem;
    text-align: left;
  }
}

.news__slider {
  margin-bottom: 3.375rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  position: relative;
}
@media (width <= 47.99875rem) {
  .news__slider {
    max-width: 20rem;
    margin-bottom: 1.75rem;
    align-self: center;
  }
}

.news__slider-wrapper {
  overflow: hidden;
}

.news__slider-prev,
.news__slider-next {
  width: 40px;
  height: 40px;
  border: 2px solid var(--white);
  border-radius: 6px;
  padding: 12px;
  flex-shrink: 0;
  position: relative;
}
.news__slider-prev:not(:disabled):hover,
.news__slider-next:not(:disabled):hover {
  background-color: var(--white);
}
.news__slider-prev:not(:disabled):hover::before,
.news__slider-next:not(:disabled):hover::before {
  border-color: #26599a;
}
.news__slider-prev:not(:disabled):active,
.news__slider-next:not(:disabled):active {
  border-color: var(--blue-1);
  background: var(--blue-1);
}
.news__slider-prev:not(:disabled):active::before,
.news__slider-next:not(:disabled):active::before {
  border-color: var(--white);
}
.news__slider-prev:disabled,
.news__slider-next:disabled {
  opacity: 0.3;
}
@media (width <= 47.99875rem) {
  .news__slider-prev,
  .news__slider-next {
    position: absolute;
    top: 0;
    right: 0;
    translate: -150% -145%;
  }
}
.news__slider-prev::before,
.news__slider-next::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 2px 0 2px 0;
  border-left: 3px solid var(--blue-1);
  border-bottom: 3px solid var(--blue-1);
  rotate: 45deg;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -30% -50%;
  transition: border-color var(--transition-duration) ease;
}

.news__slider-next::before {
  rotate: -135deg;
  translate: -70% -50%;
}
@media (width <= 47.99875rem) {
  .news__slider-next {
    right: 0;
    translate: 0 -145%;
  }
}

.news__list {
  display: flex;
  gap: 1.25rem;
  transition: translate 0.5s ease-out;
}

.news__item {
  min-width: 17.5rem;
  padding: 1.25rem 1rem;
  border-radius: 4px;
  background-color: var(--white);
}
@media (width <= 47.99875rem) {
  .news__item {
    min-width: 20rem;
    padding: 0.625rem;
  }
}
.news__item--big-title .news__item-text {
  line-clamp: 3;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
@media (width <= 47.99875rem) {
  .news__item--big-title .news__item-text {
    line-clamp: 4;
    -webkit-line-clamp: 4;
  }
}

.news__item-img {
  margin-bottom: 0.75rem;
  border-radius: 4px;
}
@media (width <= 47.99875rem) {
  .news__item-img {
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.news__item-title {
  margin-bottom: 0.625rem;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 1.125rem;
  color: var(--black);
}
@media (width <= 47.99875rem) {
  .news__item-title {
    font-size: 1rem;
  }
}

.news__item-text {
  margin-bottom: 0.3125rem;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 1rem;
  color: var(--gray);
  line-clamp: 4;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
@media (width <= 47.99875rem) {
  .news__item-text {
    margin-bottom: 0.625rem;
    font-size: 0.875rem;
    line-clamp: 5;
    -webkit-line-clamp: 5;
  }
}

.news__item-link {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 0.875rem;
  color: var(--blue-2);
}

.news__btn-wrapper {
  position: relative;
  margin-inline: auto;
}
.news__btn-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  max-width: none;
  z-index: 0;
}

.news__btn {
  translate: 0 12px;
}
@media (width <= 47.99875rem) {
  .news__btn {
    width: 14.875rem;
    height: 4.625rem;
    translate: 0 13px;
  }
  .news__btn svg {
    width: 16.25rem;
    translate: -50% -53.5%;
  }
}

.footer {
  margin-top: 4.5rem;
  color: var(--white);
}

.footer__top {
  padding-top: 1.25rem;
  padding-bottom: 2.375rem;
  background: #1d2939;
}
@media (width <= 47.99875rem) {
  .footer__top {
    padding-bottom: 0rem;
  }
}

.footer__top-container {
  max-width: calc(73.75rem + 40px);
  width: 100%;
  padding-inline: 1.25rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.875rem;
}
@media (width <= 47.99875rem) {
  .footer__top-container {
    max-width: calc(20rem + 40px);
    display: grid;
    justify-content: flex-start;
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
    grid-template-areas: "info info" "services work" "reviews partners" "contacts .";
  }
}

@media (width <= 47.99875rem) {
  .footer__info {
    grid-area: info;
    margin-right: 0 !important;
    margin-bottom: 0.375rem;
  }
}

@media (width <= 47.99875rem) {
  .footer__services {
    grid-area: services;
  }
}

@media (width <= 47.99875rem) {
  .footer__work {
    grid-area: work;
  }
}

@media (width <= 47.99875rem) {
  .footer__partners {
    grid-area: partners;
  }
}

@media (width <= 47.99875rem) {
  .footer__reviews {
    grid-area: reviews;
  }
}

@media (width <= 47.99875rem) {
  .footer__cntcs {
    grid-area: contacts;
  }
}

.footer__info {
  margin-right: 0.5625rem;
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
}
@media (width <= 47.99875rem) {
  .footer__info {
    gap: 1.25rem;
  }
}

.footer__info-logo {
  display: flex;
  flex-direction: column;
}
@media (width <= 47.99875rem) {
  .footer__info-logo {
    width: 100%;
    margin-inline: auto;
    margin-bottom: 1.25rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.25rem;
  }
}
.footer__info-logo picture {
  flex-shrink: 0;
  display: flex;
}
.footer__info-logo h2 {
  max-width: 12.75rem;
  margin-top: 0.625rem;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: var(--white);
}
@media (width <= 47.99875rem) {
  .footer__info-logo h2 {
    margin-top: 0;
    font-size: 0.875rem;
    line-height: 129%;
  }
}

.footer__info-contacts {
  display: flex;
  align-items: flex-start;
  gap: 0.6875rem;
}
.footer__info-contacts address {
  max-width: 11.125rem;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
}
@media (width <= 47.99875rem) {
  .footer__info-contacts address {
    max-width: 12.5rem;
    font-weight: 500;
  }
}

.footer__info-location {
  display: flex;
  align-items: flex-start;
  gap: 0.6875rem;
}
.footer__info-location address {
  max-width: 14.9375rem;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
}
@media (width <= 47.99875rem) {
  .footer__info-location address {
    max-width: 15.625rem;
    font-weight: 500;
  }
}

.footer__services-title,
.footer__work-title,
.footer__partners-title,
.footer__reviews-title,
.footer__contacts-title {
  margin-bottom: 0.625rem;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 143%;
  color: var(--gray);
}
@media (width <= 47.99875rem) {
  .footer__services-title,
  .footer__work-title,
  .footer__partners-title,
  .footer__reviews-title,
  .footer__contacts-title {
    margin-bottom: 1.25rem;
    line-height: 120%;
  }
}

.footer__services-list,
.footer__work-list,
.footer__partners-list,
.footer__reviews-list,
.footer__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
@media (width <= 47.99875rem) {
  .footer__services-list,
  .footer__work-list,
  .footer__partners-list,
  .footer__reviews-list,
  .footer__contacts-list {
    gap: 1.25rem;
  }
}

.footer__services-item,
.footer__work-item,
.footer__partners-item,
.footer__reviews-item,
.footer__contacts-item {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: var(--white);
}
@media (width <= 47.99875rem) {
  .footer__services-item,
  .footer__work-item,
  .footer__partners-item,
  .footer__reviews-item,
  .footer__contacts-item {
    max-width: 9.375rem;
    font-size: 0.875rem;
    line-height: 140%;
  }
}
.footer__services-item:hover,
.footer__work-item:hover,
.footer__partners-item:hover,
.footer__reviews-item:hover,
.footer__contacts-item:hover {
  color: var(--blue-1);
}

.footer__bottom {
  padding-top: 2.625rem;
  padding-bottom: 2.625rem;
  display: flex;
  background: #101828;
}
@media (width <= 47.99875rem) {
  .footer__bottom {
    padding-top: 1.25rem;
  }
}

.footer__bottom-container {
  max-width: calc(73.75rem + 40px);
  width: 100%;
  padding-inline: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3.75rem;
}
@media (width <= 47.99875rem) {
  .footer__bottom-container {
    max-width: calc(22.5rem + 40px);
    display: grid;
    gap: 1.25rem;
    grid-template-areas: "contacts contacts" "privacy sitemap" "copy copy";
  }
}

.footer__copy,
.footer__privacy,
.footer__sitemap {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--gray);
}
.footer__copy:hover,
.footer__privacy:hover,
.footer__sitemap:hover {
  color: var(--blue-1);
}

.footer__privacy,
.footer__sitemap {
  text-decoration: underline !important;
  text-underline-offset: 3px;
}

.footer__copy {
  grid-area: copy;
}
@media (width <= 47.99875rem) {
  .footer__copy {
    font-size: 0.75rem;
  }
}

.footer__privacy {
  grid-area: privacy;
}
@media (width <= 47.99875rem) {
  .footer__privacy {
    margin-right: 15px;
    margin-bottom: 22px;
  }
}

.footer__sitemap {
  grid-area: sitemap;
}

.footer__contacts {
  margin-left: auto;
  display: flex;
  gap: 1.25rem;
}
@media (width <= 47.99875rem) {
  .footer__contacts {
    grid-area: contacts;
    margin-left: 0;
  }
}

.footer__contact {
  display: flex;
  gap: 0.625rem;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--white);
}
.footer__contact:hover {
  color: var(--blue-1);
}/*# sourceMappingURL=main.css.map */