@font-face {
  font-family: "Core Sans C";
  src: url("../assets/fonts/CoreSansC-45Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Core Sans C";
  src: url("../assets/fonts/CoreSansC-55Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Core Sans C";
  src: url("../assets/fonts/CoreSansC-65Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Core Sans C";
  src: url("../assets/fonts/CoreSansC-75ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bert Sans";
  src: url("../assets/fonts/BertSans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bert Sans";
  src: url("../assets/fonts/BertSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bert Sans";
  src: url("../assets/fonts/BertSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
