@use "helpers" as *;

.container {
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.button-regular {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6px;
  width: rem(296);
  height: rem(85);
  border-radius: 4px;
  background: linear-gradient(199deg, #396fb3 0%, #477dc1 100%);
  position: relative;
  z-index: 1;

  @include mobile {
    padding: rem(24) rem(30) rem(30) rem(32);
    width: rem(259);
    height: rem(75);
  }

  &:hover {
    background: linear-gradient(199deg, #396fb3 0%, #477dc1 100%);
    svg {
      fill: #477dc1;
    }
  }
  &:active {
    background: linear-gradient(199deg, #255b9f 0%, #3369ad 100%);
    svg {
      width: 106%;
      fill: #3369ad;
      translate: -50% -50.65%;
    }

    &:before {
      box-shadow: 0 0 50px 80px rgba(255, 255, 255, 0.14);
    }
  }

  &:before {
    content: "";
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0 0 50px 80px rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 3;
    rotate: 55deg;
  }

  span {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: rem(16);
    line-height: 110%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    text-wrap: nowrap;
    color: var(--white);
    position: relative;
    z-index: 4;

    @include mobile {
      font-size: rem(14);
    }
  }

  svg {
    width: 110%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -55%;
    z-index: 2;
    transition: all 0.1s ease;

    @include mobile {
      width: 108%;
      height: 75px;
    }
  }
}
