@use "../../helpers" as *;

.statistics {
  padding-top: rem(104);

  @include tablet {
    padding-top: rem(59);
  }
}

.statistics__container {
  max-width: calc(rem(1180) + 20px * 2);
  padding-inline: rem(20);
  position: relative;
}

.statistics__decoration {
  margin-bottom: rem(40);

  @include tablet {
    margin-bottom: rem(20);
    position: relative;
    left: 50%;
    translate: -650% 0;
  }

  @include mobile {
    translate: -500% 0;
    width: 32px;
    height: 26px;
  }
}

.statistics__title {
  @include fluid-text(20, 28);
  max-width: rem(540);
  margin-bottom: rem(62);
  font-family: var(--second-family);
  font-weight: 600;
  color: var(--blue-1);
  position: relative;
  z-index: 1;

  @include tablet {
    max-width: rem(500);
    margin-inline: auto;
    margin-bottom: rem(26);
    text-align: center;
  }

  @include mobile {
    max-width: rem(320);
    text-align: left;
  }
}

.statistics__list {
  max-width: rem(923);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  gap: 1px;
  position: relative;
  z-index: 1;

  @include tablet {
    max-width: rem(500);
    margin-inline: auto;
    margin-bottom: rem(20);
    flex-direction: column;
  }

  @include mobile {
    max-width: rem(320);
  }
}

.statistics__list-item {
  padding: rem(40);
  background: rgba(111, 165, 233, 0.9);
  display: grid;
  grid-template-rows: 25px 26px;
  column-gap: rem(10);
  color: var(--white);

  @include tablet {
    grid-template-columns: auto 1fr;
    padding-left: 25%;
  }

  @include mobile {
    padding: rem(22) rem(52) rem(34) rem(52);
    grid-template-rows: 15px 15px;
  }

  span {
    &:nth-of-type(1) {
      grid-row: 1 / 3;
      grid-column: 1 / 2;
      font-family: var(--font-family);
      font-size: rem(60);
      font-weight: 800;
      line-height: 110%;
      translate: 0 -12%;

      @include mobile {
        font-size: rem(40);
      }
    }

    &:nth-of-type(2) {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      font-family: var(--second-family);
      font-size: rem(18);
      font-weight: 400;

      @include mobile {
        font-size: rem(14);
      }
    }

    &:nth-of-type(3) {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      font-family: var(--second-family);
      font-size: rem(20);
      font-weight: 600;

      @include mobile {
        font-size: rem(16);
      }
    }
  }
}

.statistics__img {
  position: absolute;
  bottom: -20px;
  right: 20px;

  @include tablet {
    max-width: rem(500);
    position: static;
    margin-inline: auto;
  }
}
